<!doctype html>
<html lang="en">
    {% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/customstyle.css' %}">    

    <title>Welcome</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top   bg-blue  ">
        <a class="navbar-brand"  href="#" >CB - Project</a>
        <button class="navbar-toggler  ml-auto mr-1" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="navbar-toggler-icon "></i>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a class="nav-link" href="#task1">Task1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#task2">Task2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#task3">Task3</a>
                </li>
               
            </ul>
        </div>
    </nav>


   <div class="container-fluid text-center " id="task1">

   
<select id="selectstate" class=" mt-5 w-50 btn btn-light bg-light p-2 text-custom ">
    <option value="Default">------------</option>
    </select>
    
    <button type="submit" id= "gettable1" class = "w-25 mt-5 btn btn-primary rounded-0 "> get </button>

   
       
    <div class="row">
        <div class="chart1 col-md-8 m-5 p-2 ">
            chart1
        </div>
            <div class=" col-md-4 mx-2 p-2 ">
          
                   <table class  = "table1 text-custom table table-striped table-hover w-100 table-condensed ">
                    <h1>Details will appear here</h1> 
                   </table>
            </div>
           
       </div>
      
   </div>
   <div class="container text-center mt-2 p-2" id="task2">

    <center>
        <h1>Hello This is Task2</h1>
    </center>

    <div class="row">
        <div class="table2 col-md-5 m-5 p-2 ">
                table2
        </div>
        <div class="chart2 col-md-5 m-5 p-2 ">
                chart2
        </div>
    </div>
   </div>
    <div class="container  text-center mt-2 p-2 " id="task3">
        <center>
            <h1>Hello This is Task3</h1>
        </center>

        <div class="row">
            <div class="table3 col-md-5 m-5 p-2 ">
                table 3
            </div>
            <div class="chart3 col-md-5 m-5 p-2 ">
                    chart3
            </div>
        </div>
    </div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script >
         google.charts.load('current', { packages: ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

         function arrayToTable(tableData) {
                var table = $('<table></table>');
                $(tableData).each(function (i, rowData) {
                    var row = $('<tr></tr>');
                    $(rowData).each(function (j, cellData) {
                        row.append($('<td>' + cellData + '</td>'));
                    });
                    table.append(row);
                });
                return table;
            }

            //  getting the dropdown workable 
        $.ajax({
                type: "GET",
                url: "{% static 'CSV/res1.csv' %}",
                success: function (data) {
                    let oarr = []
                    for (i = 1; i < Papa.parse(data).data.length; i++) {
                        oarr.push(Papa.parse(data).data[i][4])
                    }
                    let uniquestates = [];
                    $.each(oarr, function (i, el) {
                        if ($.inArray(el, uniquestates) === -1) uniquestates.push(el);
                    });

                     $.each(uniquestates, function (i, p) {
                        $('#selectstate').append($('<option></option>').val(p).html(p));
                    });
                    
                }
            });

            
            $('#gettable1').click(
                function() {$.ajax({
                        type: "GET",
                        url: "{% static 'CSV/res1.csv' %}",
                        success: function (data) {
                            let newdata = Papa.parse(data).data
                            let selectedstate = $('#selectstate').val()
                            $('.table1').empty() 
                            
                            str = "<tr><th> Detected District</th>"
                                + "<th> Female Count </th><th> Male Count</th>"
                                + "</tr >"
                            for (i = 0 ; i < newdata.length; i++) {
                               
                               if (newdata[i][4] == selectedstate) {
                                        str = str+"<tr> <td>" +newdata[i][1]+"</td>"
                                            +"<td>"+newdata[i][2]+"</td>" 
                                            + "<td>" + newdata[i][3] + "</td>"
                                            +"</tr>"
                                         }      
                            }
                             $('.table1').append(str);
                              

                        }
                                });})
                                
                                function drawChart() {
                                        // Define the chart to be drawn.
                                        var data = new google.visualization.DataTable();
                                        data.addColumn('string', 'Element');
                                        data.addColumn('number', 'Percentage');
                                        data.addRows([
                                            ['Nitrogen', 0.78],
                                            ['Oxygen', 0.21],
                                            ['Other', 0.01]
                                        ]);

                                        // Instantiate and draw the chart.
                                        var chart = new google.visualization.PieChart(document.getElementById('chart1'));
                                        chart.draw(data, null);
                                    }
                                


       
       
    </script>
</body>

</html>