{% extends "base.html" %}

{% block 'title' %}Home{% endblock 'title' %}
{% block 'taskdes' %}on this page i will show what the project includes that is parts of the project.
{% endblock 'taskdes' %}

{% block 'content' %}

<div class="container py-5">
  <h2>
    About Project
  </h2>
  <p>
    the Project is a task given to me as an internship attendee. the project is based on a recent event that is the  pandemic Covid-19. here the Data taken belongs to the API mentioned in the block above.
    During the project i got a new experience with the programming that what else can be done using programming and the open source.
  </p>
  <hr>
  <h2>
    Technology Stack
    </h2>
    <p>
      <ul>
        <li><strong> Frontend </strong></li>
          <ul>
          <li>Html</li>
          <li>CSS</li>
          <li>JavaScript</li>
          </ul>
        <li> <strong>Backend</strong> </li>
          <ul>
            <li>Python</li>
          </ul>
        <li><strong>Database</strong> (not required but still a copy of data is created in it.)</li>
          <ul>
            <li>sqlite3</li>
          </ul>
        <li><strong>Frameworks</strong></li>
        <ul>
          <li>Django</li>
          <li>Rest framework</li>
          <li>bootstarp (CSS And responsive UI )</li>
        </ul>
        <li><strong>library</strong></li>
        <ul >
          <li>chart.js(for plotting the Charts.)</li>
          <li>some python libraries</li>
          </ul>
      </ul>
    </p>
<hr>
<h2>
  Navigation Urls
</h2>
<p>
The Project has some extra urls that some may be intrested , these are api urls.

  <ul>
    <li>
      <a href="/api/get_data/res1?format=json">/api/get_data/res1</a>
      this is used for task 1 </li>
      <li>
        <a href="/api/get_data/res2?format=json">/api/get_data/res2</a>
        this is used for task 2
      </li>
      <li>
        <a href="/api/get_data/res3?format=json">/api/get_data/res3</a> this is used for the task3

      </li>
      <li>
        <a href="/api/get_data/model_data?format=json">/api/get_data/model_data</a> this is the data present in our db.

      </li>

  </ul>
</p>
<hr>
<h6>
  source code is avilable <a href="https://github.com/Demonster1999/cb.git">here</a>.
</h6>
<h5>In the navigation bar above the links to the project work is provided please go through it.</h5>

</div>


{% endblock 'content' %}
